{% extends "base.html" %}
{% load static %}

{% block title %}Feed - Meu Blog{% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'style/feed.css' %}">
{% endblock %}

{% block conteudo %}
<div class="feed-container">

    <dialog>
        <form method="post" action="" class="new-post-form">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Titulo do post" required class="new-post-title">
            <textarea name="content" placeholder="O que voce esta pensando?" required class="new-post-content"></textarea>
            <button type="submit" class="new-post-submit">Publicar</button>
        </form>
    </dialog>

    

    <div class="feed-tabs-container">
        
        <div class="aba {% if current_order != 'views' %}selecionada{% endif %}" data-tab="recentes">
            <a href="{% url 'feed' %}?order=recent" class="link-aba">Recentes</a>
        </div>
        
        <div class="aba {% if current_order == 'views' %}selecionada{% endif %}" data-tab="mais-vistos">
            <a href="{% url 'feed' %}?order=views" class="link-aba">Mais Vistos</a>
        </div>
    </div>

    {% if posts %}
        <div id="posts">
            {% include "partials/posts.html" %}
        </div>
    {% else %}
        <div class="no-posts">
            <p>Ainda nao ha posts publicados.</p>
        </div>
    {% endif %}

</div>

{% endblock %}