{% extends "base.html" %}
{% load static %}

{% block title %}Feed - Meu Blog{% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static '/style/feed.css' %}">
{% endblock %}

{% block conteudo %}
<div class="feed-container">

    <dialog>
        <form method="post" action="" class="new-post-form">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Título do post" required class="new-post-title">
            <textarea name="content" placeholder="O que você está pensando?" required class="new-post-content"></textarea>
            <button type="submit" class="new-post-submit">Publicar</button>
        </form>
    </dialog>
    <header class="site-header">
        <div class="header-content container">
            <h1 class="site-title">Feed</h1>
            <p class="site-subtitle">Acompanhe as publicações da comunidade e compartilhe suas ideias.</p>
            <div class="header-cta">
                <button id="open-dialog-btn" class="btn-primary">Criar Post</button>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button id="open-dialog-btn" class="btn-ghost">Sair</button>
                </form>
                
            </div>
        </div>
    </header>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dialog = document.querySelector('dialog');
            const openBtn = document.getElementById('open-dialog-btn');
            openBtn.addEventListener('click', function() {
                dialog.showModal();
            });
            dialog.addEventListener('click', function(event) {
                if (event.target === dialog) {
                    dialog.close();
                }
            });
        });
    </script>
    {% if posts %}
        <div id="posts">
            {% include "partials/posts.html" %}
        </div>
    {% else %}
        <div class="no-posts">
            <p>Ainda não há posts publicados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}