{% extends "base.html" %}
{% load static %}

{% block title %}Login - Meu Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}

{% block conteudo %}
<div class="login-page">
    <div class="login-card">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}

        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <input type="text" name="username" id="username" class="input-outline" placeholder="Username">
            <input type="password" name="password" id="password" class="input-outline" placeholder="Senha">
            <input type="submit" value="Enviar">
        </form>
        <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
    </div>
</div>

{% endblock %}