<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block extra_css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block conteudo %}{% endblock %}
    </div>
    {% block scripts %}
    
    {% endblock %}
</body>
</html>